/* New post */
#tempForm {
  width: 100%;
  position: relative;
  z-index: 1;
}
#tempForm button {
  padding: 1px 5px;
}
.new-thought textarea {
  height: 34px;
}
#submit-new-thought {
  position: absolute;
  right: 0;
  bottom: -25px;
}
#btn-import-facebook {
  position: absolute;
  left: 1px;
  /*bottom: -22px;*/
  /*display:none;*/
}