<template name="notifications">
	<div id="notificationsContainer">
    {{#with numNotifications}}
      {{#if ready}}
		    <p id="notificationHeader">Your Notifications</p> <p class="numRequests" id="numNotifications"> {{data}} </p>
      {{else}}
        <p id="notificationHeader">Your Notifications</p> <p class="numRequests" id="numNotifications"> </p>
      {{/if}}
    {{/with}}
		<!-- <p id="markAsRead">Mark all as read</p> -->
      	<div id="notificationTable">

      		<!-- <div class="notificationRow">
      			<img class="notificationProPic" alt="" src="http://graph.facebook.com/1121221677891219/picture/?height=200&amp;width=200">
            <div class="notificationDetails">
        			<p class="notificationText"><strong>Amar Hansen</strong> collected your post: "Every little thing will be ok."</p>
        			<img class="notificationPic" src="/images/bubbleonly.png">
        			<p class="notificationTime"> 2 min ago </p>
            </div>
            <div class="notificationStatus unread"></div>
      		</div>

          <div class="notificationRow evenRow">
            <img class="notificationProPic" alt="" src="http://graph.facebook.com/1121221677891219/picture/?height=200&amp;width=200">
            <div class="notificationDetails">
              <p class="notificationText"><strong>Amar Hansen</strong> is now your friend.</p>
              <div class="icon-friends notificationPic"></div>
              <p class="notificationTime"> 2 min ago </p>
            </div>
            <div class="notificationStatus read"></div>
          </div>

          <div class="notificationRow">
            <img class="notificationProPic" alt="" src="http://graph.facebook.com/1121221677891219/picture/?height=200&amp;width=200">
            <div class="notificationDetails">
              <p class="notificationText"><strong>Amar Hansen</strong> collected your post: "Every little thing will be ok."</p>
              <img class="notificationPic" src="/images/bubbleonly.png">
              <p class="notificationTime"> 2 min ago </p>
            </div>
          </div> -->

          {{#with notifications}}
            {{#if ready}}
            	{{#each data}}
                  <div class="{{classNames}}" data-action="read">
                    <img class="notificationProPic" alt="" src="{{picture}}">
                    <div class="notificationDetails">
                      <p class="notificationText"><strong>{{username}}</strong>{{notification}}</p>
                      {{#if isFriendType}}
                        <div class="icon-friends notificationPic"></div>
                      {{else}}
                        <img class="notificationPic" src="/images/bubbleonly.png">
                      {{/if}}
                      <p class="notificationTime">{{timeString}}</p>
                    </div>
                    <div class="{{statusName}}"></div>
                  </div>
    	          	<!-- <div class="notificationRow"> 
    	            	<p class="notificationText">{{notification}}</p>
    	            	<p class="notificationTime">{{timeString}}</p>
    	          	</div> -->
            	{{else}}
              		<!-- i<p id="noNotifications">No Notifications</p> -->
            	{{/each}}
            {{/if}}
          {{/with}}
      	</div>
    </div>
</template>