#changePassForm{
  display:block;
  text-align:center;
  margin-left:0% !important;
  margin-right:0% !important;
  padding-top:50px;
  padding-bottom:50px;
}
#changePassword{
  background:rgba(255,255,255,0.7);
  margin:0px;
  text-align:center;
  display:block;
}
#changePage{
  text-align:center;
}
#changePasswordSubmit{
  text-align:center;
  width:120px;
}
#fyouupdiv{
  width:30%;
  margin-left:35%;
  padding-top:50px;
  height:100%;
  text-align:center;
}