/* a bunch of stuff can be found in the alert css, in splashpackage.css*/

#mainAlert{
	display:block !important;
}
.oldPostDay{
  font-size:28px;
  line-height:32px;
  margin-top:35px;
  margin-left:57px;
  margin-bottom:0px;
  width:215px;
}
.oldPostTime{

}
.oldPostText{
  margin-top:20px;
  text-align:left;
  margin-left:15px;
}