
<head>
    <title>Keepspace</title>
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
</body>

<template name="home">
    {{> sAlert}}
    <div id="main-feed" class="container-fluid full-height unselectable">
        <div class="row feed-wrapper">
            <!-- <div id="fullFeed-canvas"></div> -->
            {{#with showFriendFeed}}
                <div id="friendFeed" class="feed col-xs-6">
                    <i class="fa fa-users feed-user-icon"><div class="badge success">{{currentUser.numRequests}}</div></i>
                    {{>friendSearch}}
                    <button class="btn toggleFriendFeed">Friends</button>
                    <button class="btn toggleWorldFeed">World</button>
                    <div class="feed-name unselectable">Friends</div>
                    {{> friendFeed}}
                </div>
            {{/with}}

            {{#unless showFriendFeed}}
                <div id="worldFeed" class="feed col-xs-6">
                    <button class="btn toggleFriendFeed">Friends</button>
                    <button class="btn toggleWorldFeed">World</button>
                    <i class="fa fa-search feed-search-icon"></i>
                    <form class="search">
                        <input type="text" name="search" class="form-control" placeholder="find a thought" />
                    </form>
                    <!--
                    <i class="fa fa-caret-down fa-lg world-dropdown"></i>
                    <ul id="worldButtons">
                      <li>Popular</li>
                      <li>Random</li>
                    </ul>
                    -->
                    <div class="feed-name unselectable">World</div>
                    {{> worldFeed}}
                </div>
            {{/unless}}

            <!-- <div id="myFeed" class="feed col-xs-6 unselectable"> -->
                <div id="myFeed" class="feed col-xs-6">
                <div id="tempForm">
                    <form class="new-thought form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <div id="time-container" class="col-xs-4">
                                <p id="time">...</p>
                            </div>
                            <div class="col-xs-8">
                                <textarea id="newThoughtBox" class="form-control" name="text" rows="1" placeholder="How will you remember today?"></textarea>
                                <button id="submit-new-thought" class="btn">Keep</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="feed-name unselectable">{{username}}</div>
                <div id="expandedThoughtContent"></div>
                {{> myFeed}}
            </div>
        </div>
    </div>
</template>

<template name="loading">
    Loading...
</template>