
<head>
    <title>Keepspace</title>
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
</head>

<body>
</body>

<template name="home">
    {{> sAlert}}
    <div id="main-feed" class="container-fluid full-height unselectable">
        <div class="row feed-wrapper" style="z-index: -1;">
            <div class="flip-container col-xs-6">
                <div class="flipper" id="flipper">
                {{#with showFriendFeed}}
                    <ul id="front" class="friendFeed feed front">
                        <i class="fa fa-users feed-user-icon"><div class="badge success">{{currentUser.numRequests}}</div></i>
                        {{>friendSearch}}
                        <div style="display: block">
                            <a class="waves-effect waves-light toggleFriendFeed"></a>
                            <a class="waves-effect waves-light toggleWorldFeed"></a>
                        </div>
                        <!-- <button class="btn toggleWorldFeed">World</button> -->
                        <div class="feed-name unselectable">Friends</div>
                        {{> friendFeed}}
                    </ul>
                    <!-- <ul id="cloned-friendFeed" class="cloned-friendFeed col-xs-6">
                    </ul> -->
                {{/with}}

                {{#unless showFriendFeed}}
                    <ul id="back" class="worldFeed feed back">
                        <div style="display: block">
                            <a class="waves-effect waves-light toggleFriendFeed"></a>
                            <a class="waves-effect waves-light toggleWorldFeed"></a>
                        </div>
                        <!--<button class="btn toggleWorldFeed">World</button>-->
                        <i class="fa fa-search feed-search-icon"></i>
                        <form class="search">
                            <input type="text" name="search" class="form-control" placeholder="find a thought" />
                        </form>
                        <!--
                        <i class="fa fa-caret-down fa-lg world-dropdown"></i>
                        <ul id="worldButtons">
                          <li>Popular</li>
                          <li>Random</li>
                        </ul>
                        -->
                        <div class="feed-name unselectable">World</div>
                        {{> worldFeed}}
                    </ul>
            {{/unless}}
            </div>
            </div>
            <!-- <div id="myFeed" class="feed col-xs-6 unselectable"> -->
                <ul class="myFeed feed col-xs-6">
                <div id="tempForm">
                    <form class="new-thought form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <div id="time-container" class="col-xs-4">
                                <p id="time">...</p>
                            </div>
                            <div class="col-xs-8">
                                <!--{{>dropzone}}-->
                                <textarea id="newThoughtBox" class="form-control" name="text" rows="1" placeholder="How will you remember today?">
                                </textarea>
                                <a id="submit-new-thought" class="btn-floating waves-light waves-effect">Keep</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="feed-name unselectable">{{username}}</div>
                <div id="expandedThoughtContent"></div>
                {{> myFeed}}
            </ul>
            <ul id="cloned-myFeed" class="cloned-myFeed">
            </ul>
            </div>
    </div>
</template>

<template name="loading">
    Loading...
</template>