/* CSS declarations go here */

@font-face {font-family: GeosansLight; src: url('geo_sans_light/GeosansLight.ttf') format('truetype');}
@font-face {font-family: GeosansLightOblique; src: url('geo_sans_light/GeosansLightOblique.ttf');}

body, html {
  height: 100%;
}

/* Header */
#header button{
  padding:0px;
}
#header{
  font-family: GeosansLight;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:hidden;
  background-color:#E8F4FD;
}
#header .row > * {
  height: 100px;
}
#header .left > * {
  float: left;
}
#header .right > * {
  float: right;
}
#homeButton{
  height: 100px;
  width: 100px;
}
#time{
  color:#ED1C24;
  font-size:31px;
  text-align: center;
}
#postButton{
  position: relative;
  left: 69%;
  height: 60px;
  width: 60px;
}
#calendarButton{
  height: 100px;
  width: 100px;
}
#profileButton{
}
#settingsButton{
  position: relative;
  top: 65px;
  height: 45px;
  width: 45px;
}
#worldHeader{
  margin-bottom:0px;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Main Feed */
#main-feed {
  font-family: GeosansLight;
  /* 100% of page minus total height of header */
  height: 100%; /* fallback */
  height: -webkit-calc(100% - 140px);
  height: -moz-calc(100% - 140px);
  height: calc(100% - 140px);
}
.feed-wrapper {
  height: 100%;
}
.feed {
  height: 100%;
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.feed-name {
  position: absolute;
  top: 50%;
  top: -webkit-calc(50% - 50px);
  top: -moz-calc(50% - 50px);
  top: calc(50% - 50px);
  /* Full width minus some Bootstrap padding */
  width: 100%;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  text-align: center;
  z-index: -1;
  font-size: 50px;
  color:#97D8F9;
}
#myFeed{
  border-left: 1px solid #97D8F9;
  border-right: 1px solid #97D8F9;
}
#world{
}
#worldButtons{
  padding-top:15px;
}
#popular{
  float:left;
  margin-left:20%;
  left:35%;
}
#random{
  position:absolute;
  margin-right:20%;
  right:0%;
}

/* New post */
#tempForm {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-right: 30px;
}
.new-thought textarea {
  width: 100%;
  padding-bottom: 30px;
}
#submit-new-thought {
  position: absolute;
  right: 31px;
  bottom: 1px;
}
#btn-cancel-post {
  position: absolute;
  right: 75px; /* submit-new-thought offset + btn size */
  bottom: 1px;
}
#btn-import-facebook {
  position: absolute;
  left: 1px;
  bottom: 1px;
}

/* Bubbles */
.thought {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #F38286;
}