/* CSS declarations go here */

@font-face {font-family: GeosansLight; src: url('geo_sans_light/GeosansLight.ttf') format('truetype');}
@font-face {font-family: GeosansLightOblique; src: url('geo_sans_light/GeosansLightOblique.ttf');}

body{
	margin:0px;
	background-color:#E8F4FD;
}

#header button{
	padding:0px;
}

#header{
	font-family: GeosansLight;
	margin-top:40px;
	margin-left:0px;
	/*border-top:30px solid #7FFFD4;*/
	/*border-bottom:30px solid #7FFFD4;*/
	margin-bottom:40px;
	/*border-bottom:3px solid #1CAFEC;*/
	overflow:hidden;
	background-color:#E8F4FD;
}
#headerBottom{
	border: 5px solid #1CAFEC;
}

#homeButton{
	float:left;
	margin-right:5%;
	top:20px;
	position:absolute;
}
#search{
	float:left;
	margin-left:10%;
	margin-top:15px;
}
#time{
	margin-top:20px;
	position:absolute;
	margin-left:45%;
	float:left;
	text-align:center;
	color:#ED1C24;
	font-size:31px;
}
#postButton{
	position:absolute;
	margin-left:28%;
}
#calendarButton{
	float:right;
	position:absolute;
	top:20px;
	right:20%;
}
#profileButton{
	float:right;
}
#settingsButton{
	float:right;
}
#worldHeader{
	margin-bottom:0px;
}
#whiteSpace{
	position:absolute;
	border: 16px solid white;
	width:100%;
	z-index:3;
}
.feedDiv{
	width:33%;
	height:100%;
	font-size:40px;
	overflow:hidden; 
	text-align:center;
	position:absolute;
	background-color:white;
	color:#97D8F9;
	margin-top:32px;
	padding-top:25px;
}
#myFeed{
	left:33%;
	width:33.5%;
	border-left: 3px solid #F38286;
	border-right: 3px solid #F38286;
}
.feedDiv li{
	font-size:20px;
	width:33%;
	text-align:left;
	margin:0px;
}
#world{
	right:0%;
}
#worldButtons{
	padding-top:15px;
}
#popular{
	float:left;
	margin-left:20%;
	left:35%;
}
#random{
	position:absolute;
	margin-right:20%;
	right:0%;
}