#notificationsContainer{
  margin-top: 4%;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
#noNotfications{
  font-size:14px;
}
#notifications p{
  font-weight: normal;
}
#notificationHeader{
  text-align:left;
  font-weight:bold;
  font-size:1.4em;
}
#markAsRead{
  margin-bottom:0px;
  font-size:12px;
  cursor:pointer;
  margin-left:120px;
  color:#3B589F;
}
#notificationTable{
  overflow-y:scroll;
  height:200px;
  border-top: 1px solid black;
  width:100%;
  padding-top:3%;
}

.notificationRow{
  border-bottom: 2px solid #32c0d2;
}
.notificationRow p{
  margin-bottom: 0px;
  font-weight:normal;
}
.notificationText{
  display:inline-block;
  text-align:left;
  width:180px;
  padding:bottom:5px;
  margin-left:10px;
  font-size:16px;
}
.notificationTime{
  display:inline-block;
  font-size:14px;
  text-align:left;
  width:45px;
  color: #8B8B8C;
}
#noNotfications{
  font-size:14px;
}
#notifications p{
  font-weight: normal;
}
#markAsRead{
  margin-bottom:0px;
  font-size:12px;
  cursor:pointer;
  margin-left:120px;
  color:#3B589F;
}
#notificationTable{
  overflow-y:scroll;
  height:200px;
  border-top: 1px solid black;
  width:100%;
}

.notificationRow{
  border-bottom: 1px solid lightgray;
}
.notificationRow p{
  margin-bottom: 0px;
  font-weight:normal;
}
#notificationProPic{
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.notificationText{
  display:inline-block;
  text-align:left;
  width:180px;
  padding:bottom:5px;
  margin-left:10px;
  font-size:16px;
}
.notificationTime{
  display:inline-block;
  font-size:14px;
  text-align:left;
  width:45px;
  color: #8B8B8C;
}