#notificationsContainer{
  margin-top: 4%;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
#noNotfications{
  font-size:14px;
}
#notifications p{
  font-weight: normal;
}
#notificationHeader{
  text-align:left;
  font-weight:bold;
  font-size:1.4em;
}
#markAsRead{
  margin-bottom:0px;
  font-size:12px;
  cursor:pointer;
  margin-left:120px;
  color:#3B589F;
}
#notificationTable{
  overflow-y:scroll;
  height:80%;
  border-top: 1px solid black;
  width:100%;
  /*padding-top:3%;*/
}

.notificationRow{
  border-bottom: 1px solid lightgray;
  padding-top:1%;
  padding-left:2%;
  padding-bottom:1%;
  display:inline-block;
  width:100%;
  margin-bottom:-5px;
}
.unreadRow{
  background-color:#E6F5F8;
}
.notificationRow p{
  /*margin-bottom: 0px;*/
  font-weight:normal;
}
.notificationText{
  display:inline-block;
  text-align:left;
  width:100%;
  font-size:`1.4em;
  margin-bottom:5px;
}
.notificationTime{
  display:inline-block;
  font-size:0.8em;
  text-align:left;
  width:100px;
  color: #8B8B8C;
  float:left;
  position:relative;
  left:5px;
  top:5px;
}
.notificationDetails{
  width:90%;
  float:left;
  position:relative;
  left:25px;
}
.notificationProPic{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  float:left;
}
.notificationPic{
  color:#2FC1D2;
  width:20px;
  height:20px;
  font-size:1.2em;
  float:left;
}
.notificationStatus{
    width: 6px;
    height: 6px;
    border: 1px solid #2AC0D4;
    border-radius: 3px;
    float: right;
    position: relative;
    right: 5px;
}
.read{

}
.unread{
  background: #2AC0D4;
}