/* Header */
#header{
  font-family: Gotham-Book;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:rgba(50,192,208,0.2);
}
#header .row > * {
  height: 45px;
}
#header .right > * {
  float: right;
}
#header .right span {
  margin: 0 10px;
}
#header .right i {
  margin: 5px;
}
#header{
  height:60px;
}
#logo {
  width: 325px;
  border-radius: 5px;
  cursor: pointer;
  padding-right:0px;
  text-align:left;
  padding-left:15px;
  padding-top:5px;
}

#homeLogo{
  height: 40px;
  display:inline-block;
}
#homeDrop{
  display:inline-block;
}
#logo img {
  /*height: 75px;*/
  /*padding: 10px;
  padding-right:0px;*/
}
#header .username {
  font-size: 1.2em;
  cursor: pointer;
  font-family:Roboto;
}
#header .username:hover{
  background-color:;
}
#homeButton {
  background-color: #32c0d2;
  color: #ffffff;
  text-align: center;
  /*padding-top: 11px;*/
  position: relative;
  z-index: 2;
  display: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
  margin: 0 auto;
  /*right:23px;*/
}
#dayNum {
  font-size: 32px;
  position: absolute;
  font-family:Roboto;
  top: 0;
  bottom: 0;
  line-height: 50px;
  left: 0;
  right: 0;
}
#dayNums {
  font-size: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family:Roboto;
}
#dayLabel{
  display:inline-block;
  position:absolute;
  top: 12.5px;
  bottom: 0;
  left: 0;
  right: 125px;
  font-size: 1.2em;
  cursor:default;
  /*top:18px;*/
  /* right: 15px; */
}
#date {
  color: #000000;
  font-size: 1.2em;
  /*border-radius: 5px;*/
  position: absolute;
  z-index: 1;
  top: 12.5px;
  left: 135px;
  right: 0;
  bottom: 0;
  /*top: -14px;*/
  display: inline-block;
  /*font-family:Roboto;*/
  cursor: default;
  /*margin-right:29px;*/
}
#profile-picture{
  height: 40px;
  width: 40px;
  position:relative;
  top:4px;
  border-radius: 20px;
}
.headerIcon{
  color:#43C1D1;
  font-size:1.7em;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 9px;
}
.headerIcon:hover{
  color:black;
}
.grayLine{
  height: 23px;
  width: 1px;
  margin-right: 20px;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
#time{
  color:#ED1C24;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 6px;
  left: 50%; /* fallback */
  left: -webkit-calc(50% - 25px);
  left: -moz-calc(50% - 25px);
  left: calc(50% - 25px);
  cursor:default;
}
#main-menu {
  display: none;
  position: absolute;
  z-index: 2;
  top:75px;
  right:0px;
  width:200px;
  box-shadow: 10px 10px 5px #888888;
}
#main-menu ul {
  list-style: none;
  background: #f9f9f9;
  margin-left: 0;
  border-radius: 0 0 5px 5px;
  width: 100%;
  overflow: visible;
}
#main-menu li {
  padding: 5px 5px;

}
#main-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
#worldHeader{
  margin-bottom:0px;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#settingDropDown{
  display:none;
  top: 30%;
  left: auto;
  right: 0% !important;
  width:20%;
  text-align:center;
}

#dropdownDiv{
  display: inline-block;
  height: 45px;
  width: 30px;
  padding-left: 10px;
  position: relative;
  right: 20px;
  bottom: 16px;
  padding-top: 10px;
  z-index:5;
}

#settingDropDown input[type="submit"]{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  margin-top:5%;
}
.menu-dropdown{
  position:relative;
  top:15px;
}
#menuCarat{
  color: black;
  position: absolute;
  right: 18px;
  top: -10px;
  z-index:2;
}
.menu-item{
  cursor:pointer;
}
#menuBack{
  color: #888888;
  position: absolute;
  right: 14px;
  top: -10px;
  z-index:1;
}