#settingDropDown{
	display:none;
	top: 30%;
	left: auto;
	right: 0% !important;
	width:20%;
	text-align:center;
}

#dropdownDiv{
    display: inline-block;
    height: 45px;
    width: 30px;
    padding-left: 10px;
    position: relative;
    right: 20px;
    bottom: 16px;
    padding-top: 10px;
    z-index:5;
}

#settingDropDown input[type="submit"]{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
}
.menu-dropdown{
	position:relative;
	top:15px;
}
#menuCarat{
    color: white;
    position: absolute;
    right: 18px;
    top: -10px;
}

#changePassForm{
	display:block;
	text-align:center;
	margin-left:0% !important;
	margin-right:0% !important;
	padding-top:50px;
	padding-bottom:50px;
}
#changePassword{
	background:rgba(255,255,255,0.7);
	margin:0px;
	text-align:center;
	display:block;
}
#changePage{
	text-align:center;
}
#changePasswordSubmit{
	text-align:center;
	width:120px;
}
#fyouupdiv{
	width:30%;
	margin-left:35%;
	padding-top:50px;
	height:100%;
	text-align:center;
}
.oldPostDay{
	font-size:28px;
	line-height:32px;
	margin-top:35px;
	margin-left:57px;
	margin-bottom:0px;
	width:215px;
}
.oldPostTime{

}
.oldPostText{
	margin-top:20px;
	text-align:left;
	margin-left:15px;
}