/* Splash Page */
#splashLogo{
	height: 55px;
    display: inline-block;
    margin-left: -25px;
}
#inslideHeader{
	position:absolute;
	top:5vh;
	padding-right: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left:30px;
}
#topSlide{
	background: url('images/landingBackground.jpg');
	background-position: center top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
header h1{
	color:white;
	font-size:72px;
	text-transform:none;
}
.nav>li>a{
	padding-top: 17px;
	color:white;
}
.navbar-default .navbar-nav>li>a{
	color:white;
}
.navbar-default{
	background-color: rgba(255,255,255,0.1);
}
.landingSection{
	overflow: hidden;
	padding: 50px 0px 150px 0px;
	min-height: 600px;
	color: white;
}

.landingSection h1{
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.8em;
	color:white;
}

#secondSlide{
	background-color: #30A99C;
}
#cultivateSlide{
	background-color:#F8A346;
}
#uniqueSlideText{
	margin-top:20px;
}
.landingSlideIcon{
	height:65px;
}
.landingButton{
	cursor:pointer;
}