/* Splash Page */
.splashContent {
	text-align: center;
	background:white;
	padding-top:4%;
	height:100%;
}
#repeatingSeamlessBackground{
	background-image: url("images/keepspace_seamlessbg.png");
	background-repeat: repeat-x-y;
}
#splashHead {
	text-align: center;
	font-size: 96px;
	color: #20A7BC;
	margin-bottom: 5%;
}

.splashTitle {
	text-align: center;
	font-size: 44px;
	margin-top:3%;
	display:inline-block;
}

#facebookButton{
	margin-top:20px;
}

#signupForm{
	margin:0px;
}

.backButton{
	display:inline-block;
	position:relative;
	right:50px;
	bottom:8px;
	height:60px;
}

#login-buttons{
  float:right;
}
#login-buttons  .login-close-text {
  float: right !important;
}
.accounts-dialog{
  /*right: 10px !important;
  top: 30px !important;
  left: auto !important;*/
  text-align:center !important;
  display: inline !important;
}
.splashButtons{
	margin-top:5%;
	text-align:center;
}
.loginForm{
	border: 2px solid #AEAEAE !important;
    border-radius: 15px !important;
    height: 30px !important;
    padding-left: 10px;
    background: #EAE8E8 !important;
    margin-bottom:15px;
}
#login-buttons-facebook{
	text-align:center;
	display: inline !important;
}

.blueLoginButton{
	border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    background: #A7E6EC;
    border: 2px solid #A0E4EA;
}

#createButton{
	margin-top:15px;
}

#splashBannerHeader{
	padding-top:30px;
	text-align:center;
	padding-bottom:30px;
	background:#E6F3FA;
	color:#7B7978;
}
#splashBannerLogo{
	display:inline-block;
	height:50px;
	position:absolute;
	left:40px;
	top:22px;
}
#betaEmail{
	display:inline-block;
	margin:0px;
	background:transparent;
    border: 1px solid #A7ABAE;
	border-radius:5px;
	width:110px;
	height:25px;
}
#checkButton{
	display:inline-block;
	text-align:center;
}
.splashForm{
	display:inline-block;
}
#betaLink{
	display:inline-block;
	cursor: pointer;
	cursor: hand;
}
#aboutLink{
	display:inline-block;
	padding-right:20px;
}
#teamLink{
	display:inline-block;
	padding-right:20px;
}
#loginLink{
	display:inline-block;
}
#centerDiv{
	display:inline-block;
}
#linkDiv{
	display:inline-block;
	position:absolute;
	right:0px;
}
#linkDiv p{
	margin-right:30px;
	cursor: pointer;
	cursor: hand;
}

.teamPageSlide{
	background:white;
	height:400px;
}
.headShot{
	display:inline-block;
	width: 275px;
	vertical-align: initial;
	position:relative;
	top: 62px;
}
.bioDiv{
	display:inline-block;
	text-align:left;
	margin-left:60px;
	position:relative;
	top:25px;
}
.nameP{
	margin:0px;
	font-weight: bold;
	font-size: 18px;
}
.schoolP{
	color: #bababa;
	font-weight: bold;
}
.bioP{
	width: 425px;
	margin:0px;
	/* roboto regular */
}
.left.carouselButton{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-59px;
}
.right.carouselButton{
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-59px;
}
#teamCarousel{
	display:inline-block;
	width:100%;
	height:400px;
	margin-top:30px;
}
#teamHeader{
	font-size:40px;
}

.parallax-window {
    background: transparent;
    text-align:center;
    /*margin-bottom:200px;*/
    height:229px;
}
.parallax-mirror{
	visibility:visible !important;
}
.aboutSlide{
	width:100%;
	padding-top:50px;
	/*height:150px;*/
	/*height:100%;*/
	/*min-height:250px;*/
	text-align:center;
	/*background:#F0F7FF;*/
	background-image: url("images/keepspace_seamlessbg.png");
	background-repeat: repeat-x-y;
	/*background:none;*/
	/*background:none;*/
	padding-bottom:50px;
}
.aboutTitle{
	font-size:40px;
	font-weight:bold;
	margin-bottom:50px;
}
.aboutSlideText{
	padding-left:15%;
	padding-right:15%;
	margin:0px;
	vertical-align: middle;
	font-size:20px;
	line-height:32px;
	margin-bottom:20px;
}
#aboutBackground{
	z-index:-1;
	position:absolute;
	background-image: url("images/keepspace_seamlessbg.png");
	background-repeat: repeat-x-y;
	height:824px;
	width:100%;
	margin-top:-50px;
	padding-bottom:50px;
}