#friendRequests{
	text-align:center;
	background: rgba(255,255,255,0.8);
	color: #ffffff;
	position: absolute;
	width: 100%;
	/*z-index: 3;*/
	text-align: center;
	height:100%;
	/*display:none;*/
}
.friendPageTab{
	height:100%;
	position:absolute;
	padding-left:5%;
	padding-top:3%;
}
#friendsTab{
	width:55%;
	left:0px;
}
#requestsTab{
	width:45%;
	right:0px;
	padding-right:5%;
	margin-bottom:7px;
}
#requestTitle{
	float:left;
	margin-right: 20px;
}
.numRequests{
    background: #48BFD4;
    width: 25px;
    margin: 0px;
    float: left;
    padding-left: 8px;
    border-radius: 20px;
    font-weight: normal;
    color: white !important;
    margin-left:20px;
    font-size: 18px;
    font-weight:bold;
}
.friendTabHeader{
	width:100%;
	border-bottom: 2px solid lightgray;
	height:30px;
}
.friendTabHeader p{
	color:black;
	text-align:left;
	font-size:18px;
	font-weight: bold;
}
#friendTitle{
	/*position:absolute;*/
	float:left;
	width:150px;
	left:0px;
}
.container-1{
	width: 300px;
	height: 25px;
	vertical-align: middle;
	white-space: nowrap;
	float:right;
	/*position:absolute;*/
	right:0px;
	border:1px solid lightgray;
	border-radius:2px;
}
#friendSearch{
	width: calc(100% - 24px);
	padding-left:5px;
	border:0px;
	font-size:12px;
	position: relative;
	bottom: 3px;
	left: 3px;
	color:black;
}
#friendSearch:focus{
	outline:none;
}
#friendSearchIcon{
	color:gray;
	font-size:20px;
	position: relative;
    top: 2px;
    cursor: pointer;
    right:5px;
}
.friendContainer{
	margin-top:5px;
}
#requestsList{
	padding-top:0.1px;
}
.friendTextContainer{
	display:inline-block;
	float:left;
}
.singleFriend{
	border: 1px solid lightgray;
	border-radius: 16px;
	float:left;
	width:47%;
	height:72px;
	margin-right:3%;
	padding-top:10px;
	margin-top: 10px;
}
.singleRequest{
	height:72px;
	border-bottom: 1px solid lightgray;
	margin-top: 10px;
	padding-top:10px;
}
.singleFriend p{
	text-align:left;
	margin-bottom:0px;
}
.singleRequest p{
	text-align:left;
	margin-bottom:0px;
}
.friendName{
	color: #48BED1;
	font-size:1em;
	width:150px;
}
.numFriends{
	color: #8C8D8F;
	font-size:0.8em;
}
.friendPageFriendImage{
	height:50px;
	width:50px;
	border-radius:25px;
	float:left;
	margin-left:10px;
	margin-right:20px;
}
.requestOption{
	text-align:center;
	float:right;
	padding:5px;
	font-size:0.6em;
	margin-right:10px;
	/*margin-top:15px;*/
	border-radius:2px;
	cursor:pointer;
}
#acceptRequest{
	background:#46BED2;
}
#deleteRequest{
	background:#E6E7E8;
	color:black;
}
.icon-addfriend{
	float:right;
	width:40px;
}





