#friendRequests{
	text-align:center;
	background: rgba(255,255,255,0.8);
	color: #ffffff;
	position: absolute;
	width: 100%;
	z-index: 3;
	text-align: center;
	height:100%;
	/*display:none;*/
}
.friendPageTab{
	height:100%;
	position:absolute;
	padding-left:5%;
	padding-top:3%;
}
#friendsTab{
	width:55%;
	left:0px;
}
#requestsTab{
	width:45%;
	right:0px;
	padding-right:5%;
	margin-bottom:7px;
}

.friendTabHeader{
	width:100%;
	border-bottom: 2px solid lightgray;
}
.friendTabHeader p{
	color:black;
	text-align:left;
	font-size:18px;
	font-weight: bold;
}
.friendContainer{
	margin-top:5px;
}
#requestsList{
	padding-top:0.1px;
}
.friendTextContainer{
	display:inline-block;
	float:left;
}
.singleFriend{
	border: 1px solid lightgray;
	border-radius: 16px;
	float:left;
	width:47%;
	height:72px;
	margin-right:3%;
	padding-top:10px;
	margin-top: 10px;
}
.singleRequest{
	height:72px;
	border-bottom: 1px solid lightgray;
	margin-top: 10px;
	padding-top:10px;
}
.singleFriend p{
	text-align:left;
	margin-bottom:0px;
}
.singleRequest p{
	text-align:left;
	margin-bottom:0px;
}
.friendName{
	color: #48BED1;
	font-size:1em;
}
.numFriends{
	color: #8C8D8F;
	font-size:0.8em;
}
.friendPageFriendImage{
	height:50px;
	width:50px;
	border-radius:25px;
	float:left;
	margin-left:10px;
	margin-right:20px;
}
.requestOption{
	text-align:center;
	float:right;
	padding:5px;
	font-size:0.6em;
	margin-right:10px;
	margin-top:15px;
	border-radius:2px;
}
#acceptRequest{
	background:#46BED2;
}
#deleteRequest{
	background:#E6E7E8;
	color:black;
}






