@font-face {font-family: Roboto; src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');}

$primary-color: #97D8F9;
$primary-color-light: #d9f2ff;
$primary-color-background: #f9f9f9;
$primary-font-color: rgba(50, 192, 210, 0.5);

$splash-navbar-background: rgba(69,119,179,1.0);