#facebookButton{
	margin-top:20px;
}
#login-buttons{
  float:right;
}
#login-buttons  .login-close-text {
  float: right !important;
}
.accounts-dialog{
  /*right: 10px !important;
  top: 30px !important;
  left: auto !important;*/
  text-align:center !important;
  display: inline !important;
}
.splashButtons{
	margin-top:5%;
	text-align:center;
}
.loginForm{
    background: none;
    border: none;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    color: gray;
    width:200px;
}
.loginForm:focus{
  /*border:none !important;*/
  /*background:red !important;*/
}
#login-buttons-facebook{
	text-align:center;
	display: inline !important;
}

.blueLoginButton{
	border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width:56px;
    font-size: 18px;
    background: #A7E6EC;
    border: 2px solid #A0E4EA;
}
#forgotPass{
	font-size:10px;
	cursor: pointer;
  margin-bottom: 10px;
}
#goButton{
    height: 25px;
    margin-top: 3%;
    float: right;
    margin-right: 22%;
}
#loginEmail{
  font-size: 2rem;
  margin-top:7%;
}
#loginPassword{
  margin-top:5%;
  font-size: 2rem;
}
.myform {
    width: 80%;
    display: inline-block;
}