#signupForm{
	margin:0px;
}
.backButton{
	display:inline-block;
	position:relative;
	right:50px;
	bottom:8px;
	height:60px;
}
#nextLoginButton{
	width:90px;
}
#createButton{
	margin-top:15px;
	width:90px;
}
#verify{
	margin-top:-7px;
	position:relative;
	display: inline-block;
	width:80%;
}
#headeremail{
	position:relative;
	top:-2px;
}
.getStarted{
	font-family:"Gotham-Book";
}
#signupLabel{
	color:red;
  /*position:relative;*/
  margin-top:10px;
  margin-left:75px;
}
#loginEmailLabel{
  color:red;
}
#signupButton{
  /*margin-top:14%;*/
}
/*new stuff*/
#signHereOption{
	padding-top:20px;
}
.signOptions{
	width:100%;
	/*background:rgba(255,255,255,0.9);*/
	border-radius:10px;
	text-align:center;
	margin-top:15%;
}
.signOptions p{
	color:black;
}
#signupEmail{
	margin-top: 7%;
	background:none;
}
#checkEmailOption{
	padding-top:30px;
	padding-bottom:30px;
}

/* input css */
.group 			  { 
  position:relative; 
  top: 25px;
  /*margin-bottom:45px; */
}
.group input 				{
  font-size:18px;
  padding:20px 10px 0px 0px;
  display:block;
  /*width:300px;*/
  padding-right:0px;
  border:none;
  color:black;
  border-bottom:1px solid #757575;
}
#splashSignInput{
  width:185px;
  margin-left:75px;
  /*margin-bottom:0px;*/
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:2px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  margin-top:0px;
  top:-6px;
  font-size:14px;
  color:#5264AE !important;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; bottom:15px;}
#splashSignBar{
  width:195px; 
  margin-left:75px;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
  margin-left:75px;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


/**/
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black !important;
  box-shadow: 0 0px 0 0 #26a69a !important;
}

input:not([type]).valid, 
input:not([type]):focus.valid, 
input[type=text].valid, 
input[type=text]:focus.valid, 
input[type=password].valid, 
input[type=password]:focus.valid, 
input[type=email].valid, 
input[type=email]:focus.valid, 
input[type=url].valid, 
input[type=url]:focus.valid, 
input[type=time].valid, 
input[type=time]:focus.valid, 
input[type=date].valid, 
input[type=date]:focus.valid, 
input[type=datetime-local].valid, 
input[type=datetime-local]:focus.valid, 
input[type=tel].valid, 
input[type=tel]:focus.valid, 
input[type=number].valid, 
input[type=number]:focus.valid, 
input[type=search].valid, 
input[type=search]:focus.valid, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea:focus.valid{
  border-bottom: 1px solid black !important;
  box-shadow: 0 0px 0 0 #26a69a !important;
}





