/* Splash Page */
#splashLogo{
	height: 55px;
    display: inline-block;
    margin-left: 0px;
}
#inslideHeader{
	position:absolute;
	top:5vh;
	padding-right: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left:30px;
}
#topSlide{
	background: url('images/BackgroundImage.jpg');
	background-position: center top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
header h1{
	color:black;
	font-size:72px;
	text-transform:none;
	font-weight:100;
}
.navbar-nav{
	width:25%;
	/*height:5.3em;*/
}
.nav>li{
	margin-right:10%;
}
.fixedHeadLi{
	/*margin-right:2% !important;*/
	margin-right:0px !important;
}
.nav>li>a{
	padding-top: 17px;
	/*padding-left: 0px;*/
	padding-right:0px;
	color:black;
	font-family: 'GothamHTF-Book', sans-serif;
	font-size:14px !important;
	transition: color 0.5s ease;
	color:black;
	cursor:pointer;
}
.nav>li>a:hover{
	transition: color 0.5s ease;
	color:black;
	background:transparent;
}
nav.navbar.fixed-to-top{
	z-index:10;
	height:5.3em;
}
.navbar-default .navbar-nav>li>a{
	margin-right:30px;
	color:white;
}
.navbar-default{
    background-color: #4cc4e0
}
.landingSection{
	overflow: hidden;
	padding: 50px 0px 150px 0px;
	min-height: 600px;
	color: white;
	width:100%;
}

.landingSection h1{
	/*text-transform: uppercase;*/
	font-weight: 300;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: "Gotham-Book";
	font-size: 2.8em;
	color:white;
}
.landingSection p{
	font-family: "Gotham-Book";
}
#buttonContainer{
    float: left;
    position: relative;
    left: 15%;
    margin-top:7%;
}
#secondSlide{
	background-color: #FABF80;
}
#secondSlideContainer{
    padding-left: 4%;
    width: 100%;
}
#cultivateSlide{
	background-color:#F8A346;
}
#uniqueSlideText{
	margin-top:20px;
}
.landingSlideIcon{
	height:65px;
}
.landingButton{
	cursor:pointer;
}
#facebookSignButton{
	height:28px;
	margin-top:3%;
	margin-bottom:5%;
}
#goSignupButton{
	margin-top:1%;
}

#goButton {
	text-decoration: none;
	height: 35px;
}
.signupButtons{
	cursor:pointer;
	height: 25px;
    margin-top: 11%;
    margin-bottom:11%;
}
#signupButton{
	
}
#homeSignupButton{

}
#navSignupEmail{
	margin-top: 10%;
	font-size: 2rem;
}
#navSignupEmail-error {
	font-size: 2rem;
}

.facebook-button{
	background-image: url("images/signupwithfbbutton.png");
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #f9f9f9;
	background-size: 192px auto;
	height: 27px;
	width: 192px;
	border: none;
}

.signup-button {
	background-image: url("images/signupherebutton.png");
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #f9f9f9;
	background-size: 140px auto;
	height: 26px;
	width: 140px;
	border: none;
}

.signup-button-2 {
	background-image: url("images/signupbutton.png");
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: transparent;
	background-size: 81px auto;
	height: 25px;
	width: 81px;
	border: none;
}

.cultivateIcon{
    height: 49px;
    float: left;
    margin-top: 10px;
}
#keepIcon{
	height:40px;
}
.cultivateElement{
	display:inline-block;
	width:365px;
	/*fsloat:left;*/
}
.cultivateElement .title{
	font-size: 1.6em;
	text-align: left;
    margin-bottom: 0px;
}
.cultivateText{
	color: black;
    font-size: 1em;
    text-align: left;
    width:260px;
}
.cultivateTextContainer{
	padding-left:0px;
}
#secondSlide h1{
	margin-bottom:5%;
}
.cultivateRow{
	margin-bottom:4%;
}
#shareIcon{
	position:relative;
	left:10px;
}
