/* Main Feed */
#main-feed {
    font-family: Roboto;
}
.full-height {
    /* 100% of page minus total height of header */
    height: 100%; /* fallback */
    height: -webkit-calc(100% - 95px);
    height: -moz-calc(100% - 95px);
    height: calc(100% - 95px);
}
.feed-wrapper {
    height: 100%;
}
.feed {
    height: 100%;
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px 0;
    /*overflow: auto;*/
    z-index: 0;
    position: relative;
}
.feed .fa {
    cursor: pointer;
}
.feed > * {
    position: relative;
    z-index: 0;
}
.feed-name {
    position: absolute;
    top: 50%;
    top: -webkit-calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    top: calc(50% - 50px);
    /* Full width minus some Bootstrap padding */
    width: 100%;
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    /*text-align: center;*/
    font-size: 50px;
    color:rgba(50, 192, 210, 0.5);
    cursor:default;
}
.feed-search-icon {
    position: absolute;
    right: 15px;
    z-index: 1;
}

.friend-search-icon {
    position: absolute;
    right: 15px;
    z-index: 1;
}
.feed-user-icon {
    position: absolute;
    left: 15px;
    z-index: 1;
}
.search {
    position: absolute;
    right: 35px;
    z-index: 1;
    display: none;
}
#friendList{
    position: absolute;
    top: 15px;
    display:none;
    z-index: 1;
    float: bottom;
}
.world-dropdown {
    position: absolute;
    left: 15px;
    z-index: 1;
}
#worldButtons {
    position: absolute;
    top: 15px;
    z-index: 1;
    display: none;
    list-style: none;
}
#worldButtons li {
    padding: 5px 15px;
    background-color: #32c0d2;
    display: inline-block;
    border-radius: 5px;
}


/* New post */
#tempForm {
    width: 100%;
    position: relative;
    z-index: 1;
}
#tempForm button {
    padding: 1px 5px;
}
#submit-new-thought {
    position: absolute;
    right: 15px;
    text-decoration: none;
}
#btn-import-facebook {
    position: absolute;
    left: 1px;
    /*bottom: -22px;*/
    /*display:none;*/
}

.hidden{
    display:none;
}

.unhidden{
    display:block;
}
ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}
.selected{
    width:90%;
}

.searchUser {
    width:90%;
    background-color: #f9f9f9;
}

.search {
    position: absolute;
    right: 35px;
    z-index: 1;
    display: none;
}

.toggleFriendFeed {
    background-image: url('images/friendFeed.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: transparent;
    background-size: 45px auto;
    height: 45px;
    width: 45px;
    border: none;
}

.toggleWorldFeed {
    background-image: url('images/worldFeed.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: transparent;
    background-size: 40px auto;
    height: 40px;
    width: 40px;
    border: none;
}

.flip-container {
    -webkit-perspective: 1000;

    -moz-perspective: 1000;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    -o-perspective: 1000;

    perspective: 1000;
    /*max-width: 320px;*/
    height: 100%;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;
    height: 100%;
    position: relative;

}

.flipper > img {
    opacity: 0;
    z-index: 0;
}

.flipper.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /*overflow: auto;*/
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}