<template name="image">
    <div class="row">
        <div class="col-md-12">
            <div class="image-info">
                {{#if ownImage}}
                    <a class="delete-image">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>
                {{/if}}
                Posted on: {{postDate}} /
                Posted by: {{username}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{url}}" target="_blank" class="thumbnail">
                <img src="{{url}}" />
            </a>
        </div>
    </div>
</template>