<template name="thought">
    <!-- TODO encrypt _id or use alternate id -->
    <div id="{{_id}}" class="thought condensed">
        <!-- <button class="delete">X</button> -->
        <span class="text">{{text}}</span>
    </div>
</template>

<!-- replace the existing task template with this code -->
<template name="worldPost">
    <button class="delete">&times;</button>
    <span class="text"><strong>{{username}}</strong> - {{text}}</span>

    {{#unless isOwner}}
        <button class="addToCollection">Add To Collection</button>
    {{/unless}}
</template>

<template name="myFeed">
    {{#if currentUser}}
        {{#each thoughts}}
            {{> thought}}
        {{/each}}
    {{/if}}
</template>

<template name="worldFeed">
    {{#if currentUser}}
        {{#each worldPosts}}
            {{> worldPost}}
        {{/each}}
    {{/if}}
</template>

<template name="friendFeed">
    {{#if currentUser}}
        {{#each friendPosts}}
            {{> worldPost}}
        {{/each}}
    {{/if}}
</template>