<template name="thought">
    <li id="{{_id}}" class="thought condensed">
        <div class="header-hide">
            <div class="avatar-container buttons-hide">
            </div>
            <div class="author-container">
                <h2 class="day-container author-hide">{{day}}</h2>
                <h4 class="author author-hide">{{author}}</h4>
            </div>
        </div>
        <div class="text">
            <span class="text-inner">
                {{text}}
            </span>
        </div>
        <div class="buttons-container">
            <button class="thought-action buttons-hide" id="action-1"></button>
            <button class="thought-action buttons-hide" id="action-2"></button>
        </div>
    </li>
</template>

<template name="myFeed">
        {{#if currentUser}}
            {{#each thoughts}}
                {{> thought}}
            {{/each}}
        {{/if}}
</template>

<template name="worldFeed">
    {{#if currentUser}}
        {{#each worldPosts}}
            {{> thought}}
        {{/each}}
        {{#each sharedPosts}}
            {{> thought}}
        {{/each}}
    {{/if}}
</template>

<template name="friendFeed">
    {{#if currentUser}}
        {{#each friendPosts}}
            {{> thought}}
        {{/each}}
        {{#each sharedPosts}}
            {{> thought}}
        {{/each}}
    {{/if}}
</template>
